<!DOCTYPE html>
<html>
<head>
    <title>User Similarity</title>
</head>
<body>
    <h1>User Similarity</h1>
    <p>Similarity: {{ similarity['percent Similarity'] }}%</p>
    <p>Recommended Book: <strong>{{ similarity['Book title'] }}</strong> by {{ similarity['Author'] }}</p>
    <p>ISBN: {{ similarity['ISBN'] }}</p>
    <p><a href="{{ similarity['Link'] }}" target="_blank">View Book</a></p>
    <a href="{{ url_for('homepage', username=username) }}"><button>Return to Homepage</button></a>
</body>
</html>
